<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Currency</string>
			<key>Key</key>
			<string>currency</string>
			<key>DefaultValue</key>
			<string>Automatic</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>AFN</string>
				<string>ALL</string>
				<string>DZD</string>
				<string>USD</string>
				<string>EUR</string>
				<string>AOA</string>
				<string>XCD</string>
				<string>XCD</string>
				<string>ARS</string>
				<string>AMD</string>
				<string>AWG</string>
				<string>AUD</string>
				<string>EUR</string>
				<string>AZN</string>
				<string>BHD</string>
				<string>BDT</string>
				<string>BBD</string>
				<string>BYR</string>
				<string>EUR</string>
				<string>BZD</string>
				<string>XOF</string>
				<string>BMD</string>
				<string>BTN</string>
				<string>BOB</string>
				<string>BAM</string>
				<string>BWP</string>
				<string>BRL</string>
				<string>BND</string>
				<string>BGN</string>
				<string>XOF</string>
				<string>BIF</string>
				<string>KHR</string>
				<string>XAF</string>
				<string>CAD</string>
				<string>CVE</string>
				<string>KYD</string>
				<string>XAF</string>
				<string>XAF</string>
				<string>CLP</string>
				<string>CNY</string>
				<string>AUD</string>
				<string>AUD</string>
				<string>COP</string>
				<string>KMF</string>
				<string>XAF</string>
				<string>NZD</string>
				<string>CRC</string>
				<string>CUP</string>
				<string>EUR</string>
				<string>CZK</string>
				<string>DKK</string>
				<string>DJF</string>
				<string>XCD</string>
				<string>USD</string>
				<string>EGP</string>
				<string>USD</string>
				<string>XAF</string>
				<string>ERN</string>
				<string>EUR</string>
				<string>ETB</string>
				<string>FKP</string>
				<string>DKK</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>XPF</string>
				<string>XAF</string>
				<string>GEL</string>
				<string>EUR</string>
				<string>GHS</string>
				<string>GIP</string>
				<string>EUR</string>
				<string>DKK</string>
				<string>XCD</string>
				<string>USD</string>
				<string>GTQ</string>
				<string>GNF</string>
				<string>XOF</string>
				<string>GYD</string>
				<string>HTG</string>
				<string>HNL</string>
				<string>HUF</string>
				<string>ISK</string>
				<string>INR</string>
				<string>IDR</string>
				<string>IRR</string>
				<string>IQD</string>
				<string>EUR</string>
				<string>ILS</string>
				<string>EUR</string>
				<string>JMD</string>
				<string>JPY</string>
				<string>JOD</string>
				<string>KZT</string>
				<string>KES</string>
				<string>AUD</string>
				<string>KWD</string>
				<string>KGS</string>
				<string>LAK</string>
				<string>LVL</string>
				<string>LBP</string>
				<string>LSL</string>
				<string>LRD</string>
				<string>LYD</string>
				<string>CHF</string>
				<string>LTL</string>
				<string>EUR</string>
				<string>MGA</string>
				<string>MWK</string>
				<string>MYR</string>
				<string>MVR</string>
				<string>XOF</string>
				<string>EUR</string>
				<string>USD</string>
				<string>MRO</string>
				<string>MUR</string>
				<string>EUR</string>
				<string>MXN</string>
				<string>USD</string>
				<string>MDL</string>
				<string>EUR</string>
				<string>MNT</string>
				<string>XCD</string>
				<string>MAD</string>
				<string>MZN</string>
				<string>MMK</string>
				<string>NAD</string>
				<string>AUD</string>
				<string>NPR</string>
				<string>ANG</string>
				<string>XPF</string>
				<string>NZD</string>
				<string>NIO</string>
				<string>XOF</string>
				<string>NGN</string>
				<string>NZD</string>
				<string>USD</string>
				<string>NOK</string>
				<string>OMR</string>
				<string>PKR</string>
				<string>USD</string>
				<string>PAB</string>
				<string>PGK</string>
				<string>PYG</string>
				<string>PEN</string>
				<string>PHP</string>
				<string>PLN</string>
				<string>EUR</string>
				<string>QAR</string>
				<string>EUR</string>
				<string>RON</string>
				<string>RUB</string>
				<string>RWF</string>
				<string>XCD</string>
				<string>XCD</string>
				<string>XCD</string>
				<string>WST</string>
				<string>STD</string>
				<string>SAR</string>
				<string>XOF</string>
				<string>RSD</string>
				<string>SCR</string>
				<string>SLL</string>
				<string>SGD</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>SBD</string>
				<string>SOS</string>
				<string>ZAR</string>
				<string>EUR</string>
				<string>LKR</string>
				<string>SDG</string>
				<string>SRD</string>
				<string>SZL</string>
				<string>SEK</string>
				<string>CHF</string>
				<string>SYP</string>
				<string>TWD</string>
				<string>TJS</string>
				<string>TZS</string>
				<string>THB</string>
				<string>XOF</string>
				<string>TOP</string>
				<string>TTD</string>
				<string>TND</string>
				<string>TRY</string>
				<string>TMT</string>
				<string>USD</string>
				<string>AUD</string>
				<string>UGX</string>
				<string>UAH</string>
				<string>AED</string>
				<string>GBP</string>
				<string>USD</string>
				<string>UYU</string>
				<string>UZS</string>
				<string>VUV</string>
				<string>VEF</string>
				<string>VND</string>
				<string>YER</string>
				<string>ZMK</string>
				<string>ZWL</string>
				<string>ANG</string>
				<string>USD</string>
				<string>USD</string>
				<string>MAD</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>ILS</string>
				<string>GBP</string>
				<string>XOF</string>
				<string>KPW</string>
				<string></string>
				<string>ANG</string>
				<string>BSD</string>
				<string>NOK</string>
				<string>XPF</string>
				<string>GBP</string>
				<string>GBP</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>SSP</string>
				<string>NZD</string>
				<string>EUR</string>
				<string>GMD</string>
				<string>USD</string>
				<string>FJD</string>
				<string>EUR</string>
				<string>HRK</string>
				<string>USD</string>
				<string>EUR</string>
				<string>GBP</string>
				<string>MKD</string>
				<string>NZD</string>
				<string>USD</string>
				<string>EUR</string>
				<string>KRW</string>
				<string>EUR</string>
				<string>CDF</string>
				<string>MOP</string>
				<string>NOK</string>
				<string>EUR</string>
				<string>USD</string>
				<string>USD</string>
				<string>DOP</string>
				<string>AUD</string>
				<string>SHP</string>
				<string>HKD</string>
				<string>EUR</string>
			</array>
			<key>Values</key>
			<array>
				<string>Automatic</string>
				<string>AFN</string>
				<string>ALL</string>
				<string>DZD</string>
				<string>USD</string>
				<string>EUR</string>
				<string>AOA</string>
				<string>XCD</string>
				<string>XCD</string>
				<string>ARS</string>
				<string>AMD</string>
				<string>AWG</string>
				<string>AUD</string>
				<string>EUR</string>
				<string>AZN</string>
				<string>BHD</string>
				<string>BDT</string>
				<string>BBD</string>
				<string>BYR</string>
				<string>EUR</string>
				<string>BZD</string>
				<string>XOF</string>
				<string>BMD</string>
				<string>BTN</string>
				<string>BOB</string>
				<string>BAM</string>
				<string>BWP</string>
				<string>BRL</string>
				<string>BND</string>
				<string>BGN</string>
				<string>XOF</string>
				<string>BIF</string>
				<string>KHR</string>
				<string>XAF</string>
				<string>CAD</string>
				<string>CVE</string>
				<string>KYD</string>
				<string>XAF</string>
				<string>XAF</string>
				<string>CLP</string>
				<string>CNY</string>
				<string>AUD</string>
				<string>AUD</string>
				<string>COP</string>
				<string>KMF</string>
				<string>XAF</string>
				<string>NZD</string>
				<string>CRC</string>
				<string>CUP</string>
				<string>EUR</string>
				<string>CZK</string>
				<string>DKK</string>
				<string>DJF</string>
				<string>XCD</string>
				<string>USD</string>
				<string>EGP</string>
				<string>USD</string>
				<string>XAF</string>
				<string>ERN</string>
				<string>EUR</string>
				<string>ETB</string>
				<string>FKP</string>
				<string>DKK</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>XPF</string>
				<string>XAF</string>
				<string>GEL</string>
				<string>EUR</string>
				<string>GHS</string>
				<string>GIP</string>
				<string>EUR</string>
				<string>DKK</string>
				<string>XCD</string>
				<string>USD</string>
				<string>GTQ</string>
				<string>GNF</string>
				<string>XOF</string>
				<string>GYD</string>
				<string>HTG</string>
				<string>HNL</string>
				<string>HUF</string>
				<string>ISK</string>
				<string>INR</string>
				<string>IDR</string>
				<string>IRR</string>
				<string>IQD</string>
				<string>EUR</string>
				<string>ILS</string>
				<string>EUR</string>
				<string>JMD</string>
				<string>JPY</string>
				<string>JOD</string>
				<string>KZT</string>
				<string>KES</string>
				<string>AUD</string>
				<string>KWD</string>
				<string>KGS</string>
				<string>LAK</string>
				<string>LVL</string>
				<string>LBP</string>
				<string>LSL</string>
				<string>LRD</string>
				<string>LYD</string>
				<string>CHF</string>
				<string>LTL</string>
				<string>EUR</string>
				<string>MGA</string>
				<string>MWK</string>
				<string>MYR</string>
				<string>MVR</string>
				<string>XOF</string>
				<string>EUR</string>
				<string>USD</string>
				<string>MRO</string>
				<string>MUR</string>
				<string>EUR</string>
				<string>MXN</string>
				<string>USD</string>
				<string>MDL</string>
				<string>EUR</string>
				<string>MNT</string>
				<string>XCD</string>
				<string>MAD</string>
				<string>MZN</string>
				<string>MMK</string>
				<string>NAD</string>
				<string>AUD</string>
				<string>NPR</string>
				<string>ANG</string>
				<string>XPF</string>
				<string>NZD</string>
				<string>NIO</string>
				<string>XOF</string>
				<string>NGN</string>
				<string>NZD</string>
				<string>USD</string>
				<string>NOK</string>
				<string>OMR</string>
				<string>PKR</string>
				<string>USD</string>
				<string>PAB</string>
				<string>PGK</string>
				<string>PYG</string>
				<string>PEN</string>
				<string>PHP</string>
				<string>PLN</string>
				<string>EUR</string>
				<string>QAR</string>
				<string>EUR</string>
				<string>RON</string>
				<string>RUB</string>
				<string>RWF</string>
				<string>XCD</string>
				<string>XCD</string>
				<string>XCD</string>
				<string>WST</string>
				<string>STD</string>
				<string>SAR</string>
				<string>XOF</string>
				<string>RSD</string>
				<string>SCR</string>
				<string>SLL</string>
				<string>SGD</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>SBD</string>
				<string>SOS</string>
				<string>ZAR</string>
				<string>EUR</string>
				<string>LKR</string>
				<string>SDG</string>
				<string>SRD</string>
				<string>SZL</string>
				<string>SEK</string>
				<string>CHF</string>
				<string>SYP</string>
				<string>TWD</string>
				<string>TJS</string>
				<string>TZS</string>
				<string>THB</string>
				<string>XOF</string>
				<string>TOP</string>
				<string>TTD</string>
				<string>TND</string>
				<string>TRY</string>
				<string>TMT</string>
				<string>USD</string>
				<string>AUD</string>
				<string>UGX</string>
				<string>UAH</string>
				<string>AED</string>
				<string>GBP</string>
				<string>USD</string>
				<string>UYU</string>
				<string>UZS</string>
				<string>VUV</string>
				<string>VEF</string>
				<string>VND</string>
				<string>YER</string>
				<string>ZMK</string>
				<string>ZWL</string>
				<string>ANG</string>
				<string>USD</string>
				<string>USD</string>
				<string>MAD</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>ILS</string>
				<string>GBP</string>
				<string>XOF</string>
				<string>KPW</string>
				<string></string>
				<string>ANG</string>
				<string>BSD</string>
				<string>NOK</string>
				<string>XPF</string>
				<string>GBP</string>
				<string>GBP</string>
				<string>EUR</string>
				<string>EUR</string>
				<string>SSP</string>
				<string>NZD</string>
				<string>EUR</string>
				<string>GMD</string>
				<string>USD</string>
				<string>FJD</string>
				<string>EUR</string>
				<string>HRK</string>
				<string>USD</string>
				<string>EUR</string>
				<string>GBP</string>
				<string>MKD</string>
				<string>NZD</string>
				<string>USD</string>
				<string>EUR</string>
				<string>KRW</string>
				<string>EUR</string>
				<string>CDF</string>
				<string>MOP</string>
				<string>NOK</string>
				<string>EUR</string>
				<string>USD</string>
				<string>USD</string>
				<string>DOP</string>
				<string>AUD</string>
				<string>SHP</string>
				<string>HKD</string>
				<string>EUR</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
