<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976326669883-37vl73k0a64mtohpnlj0lf0mcp1ua2mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976326669883-37vl73k0a64mtohpnlj0lf0mcp1ua2mr</string>
	<key>API_KEY</key>
	<string>AIzaSyD1GNKfOOaZkyHUo_-BAbxrcBQyWGdFCh4</string>
	<key>GCM_SENDER_ID</key>
	<string>976326669883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobiomotayo.chatchat</string>
	<key>PROJECT_ID</key>
	<string>mychatchat-9fbad</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatchat-9fbad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976326669883:ios:bb5044ce0652086b</string>
	<key>DATABASE_URL</key>
	<string>https://mychatchat-9fbad.firebaseio.com</string>
</dict>
</plist>