<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888811126119-1bmba1ka17qgd9u830iaso2o29vbf2r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888811126119-1bmba1ka17qgd9u830iaso2o29vbf2r1</string>
	<key>API_KEY</key>
	<string>AIzaSyBf5NSSx0WdWapbV8Neci3SeHmWqaD3b4c</string>
	<key>GCM_SENDER_ID</key>
	<string>888811126119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trajilis2.app</string>
	<key>PROJECT_ID</key>
	<string>postagraph-648a8</string>
	<key>STORAGE_BUCKET</key>
	<string>postagraph-648a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888811126119:ios:4096c813e9531923c9c3c2</string>
	<key>DATABASE_URL</key>
	<string>https://postagraph-648a8.firebaseio.com</string>
</dict>
</plist>