<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Postagraph</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb144059836238748</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>20190926194150</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>21b28b70b030b08d730c35f65fd26e164bc519cf</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>144059836238748</string>
	<key>FacebookDisplayName</key>
	<string>Postagraph</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>You will be able to save various videos while you’re on a trip.</string>
	<key>NSCameraUsageDescription</key>
	<string>You will be able to record and upload the places you visit.</string>
	<key>NSContactsUsageDescription</key>
	<string>This will let you invite and add your contacts on a trip you’re planning.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To help you experience the world around you, see the nearest airports, hotel deals, and exciting places, we are only going to use your location while you’re using the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>You will be able to record your video posts with audio.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You will be able to save your pics on your phone library. </string>
	<key>UIAppFonts</key>
	<array>
		<string>segoeuii.ttf</string>
		<string>segoe-ui-bold.ttf</string>
		<string>segoeuib.ttf</string>
		<string>segoe-ui.ttf</string>
		<string>segoe-ui-semibold.ttf</string>
		<string>segoeui.tff</string>
		<string>Lato-HeavyItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-SemiboldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PTSans-RegularItalic.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>PTSans-BoldItalic.ttf</string>
		<string>PTSans-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Initial</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>baseUrl</key>
	<string>https://api2.postagraph.com/api/</string>
	<key>bookingUrl</key>
	<string>https://booking.postagraph.com</string>
	<key>chatUrl</key>
	<string>https://api.postagraph.com</string>
</dict>
</plist>
